.log-page {
  width: 100%; height: 100vh;
  align-items: center;
}
.form-header {
  width: 100%;
  text-align: center;
}
.form-header a {
  cursor: pointer;
}
.form-log {
  width: 20%; height: 30%;
  margin-top: 3rem;
  margin-left: auto;
  margin-right: auto;
  background-color: darkgray;
  text-align: center;
}

.products-content {
  width: 100%; height: 100vh;
  text-align: center;
}
.products-list {
  width: 100%; height: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.product-card {
  background-color: darkgray;
  width: 12rem; height: 16rem;
  margin: 1rem;
}